<h1>{{ city.city }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>Identifier: {{ city.identifier }}</li>
    <li>City: {{ city.city }}</li>
    <li>Province/Territory: {{ city.province }}</li>
    <li>Calculated Exposure Day 7: {{ city.exposure }}</li>
    <li>Radon(mrem): {{ city.radon }}</li>
    <li>External Terrestrial (mrem): {{ city.terrestrial }}</li>
    <li>Cosmic (mrem): {{ city.cosmic }}</li>
    <li>Ingestion (mrem): {{ city.ingestion }}</li>
    <li>Total (mrem): {{ city.total }}</li>
</ul> 