

{% if city_list and location_list and space_list%}
<div id="map"></div>

<input type="checkbox" id="rad" value="rad" onclick="check(r, 'rad')">Radon <div class="foo r"></div>
<input type="checkbox" id="ter" value="ter" onclick="check(t, 'ter')">External Terrestrial <div class="foo t"></div>
<input type="checkbox" id="cosmic" value="cosmic" onclick="check(c, 'cosmic')">Cosmic <div class="foo c"></div>
<input type="checkbox" id="ingestion" value="ingestion" onclick="check(ing, 'ingestion')">Ingestion <div class="foo ing"></div>
<input type="checkbox" id="exp" value="exp" onclick="check(e, 'exp')">Calculated Exposure <div class="foo e"></div>
<input type="checkbox" id="total" value="total" onclick="check(to, 'total')">Total <div class="foo to"></div>
<div style="margin-right: 200px">   
</div>
<input type="checkbox" id="space9" value="space9" onclick="check(s9, 'space9')" >ISS 2009<div class="foo e"></div>

<input type="checkbox" id="space13" value="space13" onclick="check(s13, 'space13')">ISS 2013<div class="foo e"></div>

<input type="checkbox" id="space19" value="space19" onclick="check(s19, 'space19')">ISS 2019<div class="foo e"></div>
<style>
div {
    display: inline-block;
    margin-top:10px;
}

.foo {
  width: 20px;
  height: 20px;

  border: 1px solid rgba(0, 0, 0, .2);
}
input {
  display: inline-block;
}
.e {
  background: #FF3333;
}

.t {
  background: #C0C0C0;
}

.c {
  background: #FF00FF;
}
.ing {
  background: #00FF00;
}

.r {
  background: #FFFF00;
}

.to {
  background: #FFFFFF;
}
</style>
<script>
var InforObj = [];
var e = [];
var t = [];
var c = [];
var s9 = [];
var s13 = [];
var s19 = [];
var s9n = {{space9.exposure}};
var s13n = {{space13.exposure}};
var s19n = {{space19.exposure}};
console.log(s19)
var ing = [];
var r = [];
var to = [];
var map = null;
// Initialize and add the map
function initMap() {
    var checkboxes = document.getElementsByTagName('input');

    for (var i=0; i<checkboxes.length; i++)  {
        if (checkboxes[i].type == 'checkbox'){
            if (checkboxes[i].value.includes('space')){
                checkboxes[i].checked = false;  
            } else {
                checkboxes[i].checked = true;
            }
        }
    }
    var infos = []

    var cities = []
    var latlngs = []
    var exp = [];
    var ter = [];
    var cosmic = [];
    var ingestion = [];
    var total = [];
    var radon = [];
    {% for city in city_list %}

        cities.push('{{ city.city }}');
        s =  '<ul><li>Radon:' + {{ city.radon }} + '</li>' +
                    '<li>External Terrestrial:' + {{ city.terrestrial }}+ '</li>' +
                    '<li>Cosmic:' + {{ city.cosmic }}+ '</li>' +
                    '<li>Ingestion:' + {{ city.ingestion }}+ '</li>' +
                    '<li>Calculated Exposure:' + {{ city.exposure }}+ '</li>' +
                    '<li>Total:' + {{ city.total }}+ '</li>' +
                '</ul>'
        {% for location in location_list %}
                {% if location.city == city.city %}
                //console.log(s)
                latlngs.push([{{ location.lat }} , {{ location.lng }}]);
                {% endif %}
        {% endfor %}
        infos.push(s);
        exp.push({{city.exposure}})
        ter.push({{city.terrestrial}})
        cosmic.push({{city.cosmic}})
        ingestion.push({{city.ingestion}})
        total.push({{city.total}})
        //console.log(total)
        radon.push({{city.radon}})
    {% endfor %}
    var sum = 0.0;
    for( var i = 0; i < total.length; i++ ){
        sum += exp[i];
    }
    var avg = sum/total.length;
    console.log("avg")
    console.log(avg)
    if (avg > 150) {
        avg = 150
    }

    console.log(total)
    var sum = 0.0;
    for( var i = 0; i < total.length; i++ ){
        sum += ter[i];
    }
    var avg = sum/total.length;
    if (avg > 150) {
        avg = 150
    }
  // The location of Uluru
  var uluru = {lat: 55.344, lng: -100.036};
  // The map, centered at Uluru
  map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: uluru});

  //var marker = new google.maps.Marker({position: uluru, map: map});
  e = circles(exp, "#FF3333", map, latlngs, infos, cities);
  t = circles(ter, "#C0C0C0", map, latlngs, infos, cities);
  c = circles(cosmic, "#FF00FF", map, latlngs, infos, cities);
  ing = circles(ingestion, "#00FF00", map, latlngs, infos, cities);
  r = circles(radon, "#FFFF00", map, latlngs, infos, cities);
  to = circles(total, "#FFFFFF", map, latlngs, infos, cities);
  var uluru = {lat: 55.344, lng: -100.036};
  s9 = [new google.maps.Marker({
          position: uluru,
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 10.5 * 0.55 * s9n,
              fillColor: "#FF3333",
              fillOpacity: 0.4,
              strokeWeight: 0.4
          },
      })];
  s13 = [new google.maps.Marker({
          position: uluru,
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 10.5 * 0.55* s13n,
              fillColor: "#FF3333",
              fillOpacity: 0.4,
              strokeWeight: 0.4
          },
      })];
  s19 = [new google.maps.Marker({
          position: uluru,
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 10.5  * 0.55* s19n,
              fillColor: "#FF3333",
              fillOpacity: 0.4,
              strokeWeight: 0.4
          },
      })];
    check(s9, "space9");
    check(s13, "space13");
    check(s19, "space19");
}

function circles(all, color, map, latlngs, infos, cities) {
    var markers = [];   
    for (var i = 0; i < latlngs.length; i++) {
      var latLng = new google.maps.LatLng(latlngs[i][0],latlngs[i][1]);
      //var marker = circle(exp[i], exp, "#F00", latLng, map);
      const marker = circle(all[i], all, color, latLng, map);
      var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          //'<a id="firstHeading" class="firstHeading" href='+ cities[i]  + '/group/>'+ cities[i] +'</a>'+
          '<div id="bodyContent">'+
          '<h3>' +cities[i]+ '</h3>' +
          '<p style=>' +  infos[i] +'</p>'+
          '</div>'+
          '</div>';
    //console.log(cities[i])
      const infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
      });
      marker.addListener('click', function () {
          closeOtherInfo();
          infowindow.open(marker.get('map'), marker);
          InforObj[0] = infowindow;
      });
      var minZoomLevel = 4;
      google.maps.event.addListener(map, 'zoom_changed', function() {
        var pixelSizeAtZoom0 = 8; //the size of the icon at zoom level 0
        var maxPixelSize = 350; //restricts the maximum size of the icon, otherwise the browser will choke at higher zoom levels trying to scale an image to millions of pixels
        var minPixelSize = 300;
        var zoom = map.getZoom();

        var relativePixelSize = Math.round(pixelSizeAtZoom0*Math.pow(2,zoom)); // use 2 to the power of current zoom to calculate relative pixel size.  Base of exponent is 2 because relative size should double every time you zoom in

        if(relativePixelSize > maxPixelSize) //restrict the maximum size of the icon
            relativePixelSize = maxPixelSize;
        if(relativePixelSize < minPixelSize)
            relativePixelSize = minPixelSize;
        console.log("zoom");
        console.log(zoom);
        console.log(relativePixelSize);
        if (zoom < minZoomLevel) map.setZoom(minZoomLevel);
        //change the size of the icon
        marker.setIcon(
            new google.maps.MarkerImage(
                marker.getIcon().url, //marker's same icon graphic
                null,//size
                null,//origin
                null, //anchor
                new google.maps.Size(relativePixelSize, relativePixelSize) //changes the scale
            )
        );        
        });
      markers.push(marker)
  }
  return markers
}

function check(markers, idname) {
    if(document.getElementById(idname).checked != true) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
    }
    if(document.getElementById(idname).checked == true) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }
}



function circle(number, all, color, latLng, map) {
    var sum = 0.0;
    for( var i = 0; i < all.length; i++ ){
        sum += all[i];
    }
    var avg = sum/all.length;
    //console.log(avg)
    if (avg > 250) {
        avg = 200
        number *= 2
    } else if (avg < 0.1) {
        console.log(avg)
        avg *= 2
        number /= 2
    }
    return new google.maps.Marker({
          position: latLng,
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 10.5 / avg * number,
              fillColor: color,
              fillOpacity: 0.4,
              strokeWeight: 0.4
          },
      });
}
function closeOtherInfo() {
    //console.log(avg)
    return new google.maps.Marker({
          position: latLng,
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 10.5 / avg * number,
              fillColor: color,
              fillOpacity: 0.4,
              strokeWeight: 0.4
          },
      });
}
function closeOtherInfo() {
    if (InforObj.length > 0) {
        /* detach the info-window from the marker ... undocumented in the API docs */
        InforObj[0].set("marker", null);
        /* and close it */
        InforObj[0].close();
        /* blank the array */
        InforObj.length = 0;
    }
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QACm9CVHKCSzIekWSeg3H1qhq28AhXg&callback=initMap">
</script>

<style>
        /* Set the size of the div element that contains the map */
        #map {
          height: 780px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
         #content {
          width: 250px;
         }
</style>
{% else %}
<p>No data are available.</p>
{% endif %}